body {
    font-family: Arial, sans-serif;
    background-color: #C8A2C8;
    margin: 0;
    padding: 0;
}

header {
    background-color: #a349a4;
    color:white;
    padding: 20px;
    text-align: left;
}

ul.circle { 
    
     
    list-style-type: circle; 
}


 ul.circle {
    display: inline;
    margin-right: 20px;
}

ul.circle {
    color: purple;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #a349a4;
}
